{
    "presets": [
        [
            "@babel/env",
            {
                "targets": "ie 11"
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": false }],
        ["module-resolver", {
            "extensions": [
                ".js",
                ".ts"
            ],
            "root": [
                "./src"
            ]
        }],
    ]
}
